#grad {
    background-image: linear-gradient(270deg,#5D4157, #A8CABA);
  }

body {
    font-family: Garamond, serif;
    margin: 0;
}

.body-content {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.header {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.container {
    display: flex; /* Enables Flexbox layout */
    justify-content: space-between; /* Ensures space between the left and right sections */
    align-items: flex-start; /* Aligns items at the top */
    padding: 20px;
}

.left {
    flex: 1; /* Takes up as much space as needed */
    max-width: 50%; /* Optional: Restricts maximum width */
}

.right {
    flex: 1; /* Takes up as much space as needed */
    max-width: 50%; /* Optional: Restricts maximum width */
    text-align: right; /* Aligns content to the right */
}

.right img {
    max-width: 100%;
    height: auto;
}





  